<!--메인페이지-->
<div class="bulb">
  <div id="lampadario">
  <input type="radio" name="switch" value="on" />
  <input type="radio" name="switch" value="off" checked="checked"/>
  <label for="switch"></label>
      <div id="filo"></div>
          <div id="lampadina">             
              <div id="sorpresa">
                  <div id="footer">
                      <!-- 메인 화면(고정) -->
                      <%= image_tag "festival_main_03.png", class: "img_01" %>
                  </div>
              </div>
        </div>
  </div>
</div>


<!--축제일정-->

<div class="list">
  <p class="flux">축제일정</p>
  <h4 id="day_01">DAY 1</h4>
    <div class="time_table wow fadeInUp">
      <tr>
        <td  id="time">9:00 ~ 10:00</td>
        <td  id="list">동아리 공연</td>
      </tr>
      <br/>
      <tr>
        <td  id="time">10:00 ~ 15:00</td>
        <td  id="list">ㅋㅋㅋㅋ</td>
      </tr>
      <!--여기 밑으로 타임 테이블 적어 넣으면 됩니다-->
    </div>
  <h4 id="day_01">DAY 2</h4>
  <div class="time_table wow fadeInUp">
      <tr>
        <td  id="time">9:00 ~ 10:00</td>
        <td  id="list">동아리 공연</td>
      </tr>
      <br/>
      <tr>
        <td  id="time">10:00 ~ 15:00</td>
        <td  id="list">ㅋㅋㅋㅋ</td>
      </tr>
  </div>
</div>

<!--라인 업-->
<div class="section02"> 
  <p class="flux line_up">LINE-UP</p>
  <div class="line_up_content" id="content_01">
    <p class="content_text_01" style="writing-mode: vertical-rl">폴킴</p>
    <%= image_tag "paul_kim.jpg",  class: "line_up_img"  %>

  </div>
  <br/><br/><br/><br/><br/><br/>
    <div class="line_up_content" id="content_02">
    <p class="content_text_02" style="writing-mode: vertical-rl">잔나비</p>
    <%= image_tag "jannavi.jpg",  class: "line_up_img"  %>

  </div>
</div>

