<!--메인페이지-->
<div class="bulb">
  <div id="lampadario">
  <input type="radio" name="switch" value="on" />
  <input type="radio" name="switch" value="off" checked="checked"/>
  <label for="switch"></label>
      <div id="filo"></div>
          <div id="lampadina">             
              <div id="sorpresa">
                  <div id="footer">
                      <!-- 메인 화면(고정) -->
                      <%= image_tag "festival_main_03.png", class: "img_01" %>
                  </div>
              </div>
        </div>
  </div>
</div>


<!--축제일정-->

<div class="list">
  <p class="flux">축제일정</p>
  <h4 id="day_01">DAY 1</h4>
  <div class="time_table01 wow fadeInUp">
    <tr>
      <td  id="time">9:00 ~ 10:00</td>
      <td  id="list">동아리 공연</td>
    </tr>
  </div>
</div>
