<!--메인페이지-->
<div class="bulb">
  <div id="lampadario">
  <input type="radio" name="switch" value="on" />
  <input type="radio" name="switch" value="off" checked="checked"/>
  <label for="switch"></label>
      <div id="filo"></div>
          <div id="lampadina">             
              <div id="sorpresa">
                  <div id="footer">
                      <!-- 메인 화면(고정) -->
                      <div class="img_position"></div>
                  </div>
              </div>
        </div>
  </div>
</div>


<!--축제일정-->
<div class="list">
  <p class="flux" id="time_line">축제일정</p>
  <p class="flux" id="id">이미지를 누르면 자세한 정보가 나옵니다!</p>
  
  <div class="row">
    <div class="col-12 col-md-4" style="padding-left: 0px !important; padding-right: 0px !important">
      <a href="#">
      <%= image_tag "day18.png",  class: "img-fluid", width: "400", height: "400" %>
      </a>
    </div>
    <div class="col-12 col-md-4" style="padding-left: 0px !important; padding-right: 0px !important">
      <a href="#">
      <%= image_tag "day19.png",  class: "img-fluid", width: "400", height: "400" %>
      </a>
    </div>
    <div class="col-12 col-md-4" style="padding-left: 0px !important; padding-right: 0px !important">
      <a href="#">
      <%= image_tag "day20.png",  class: "img-fluid", width: "400", height: "400" %>
      </a>
    </div>
  </div>
</div>



<!--라인 업-->

<% if mobile? %>
<!-- 모바일 -->
<div class="mobile_section02"> 
  <p class="flux line_up">LINE-UP</p>
  
  <div class="mobile_line_up_pic01">
    <div class="mobile_broken_brick"></div>
  </div>
  
  <div class="mobile_line_up_pic02">
    <div class="mobile_broken_brick"></div>
  </div>
  
  <div class="mobile_line_up_pic03">
    <div class="mobile_broken_brick"></div>
  </div>
  
  <div class="mobile_line_up_pic04">
    <div class="mobile_broken_brick"></div>
  </div>
  
  
</div>

<% else %>
<!--PC-->
<div class="section02"> 
  <p class="flux line_up">LINE-UP</p>
  
  <div class="line_up_pic01">
    <div class="broken_bricks"></div>
  </div>

  <div class="line_up_pic02">
    <div class="broken_bricks"></div>
  </div>
  
  <div class="line_up_pic03">
    <div class="broken_bricks"></div>
  </div>
  
  <div class="line_up_pic04">
    <div class="broken_bricks"></div>
  </div>
</div>
<% end %>


<!-- 지도 -->
<div class="justify-content-center">
<div class="map_section col-md-12">
  <p class="flux">축제 지도</p>
  <div class="map">
  </div>
  <p>ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti culpa iure porro perferendis sapiente sunt accusantium nihil perspiciatis non excepturi, asperiores impedit libero nulla natus voluptatibus quia fuga aspernatur deserunt.</p>
</div>
</div>

<!--플친에서 오는 메시지 담는 부분 -->
<div class="posts_section">
  <div class="posts_div"></div>
</div>


<div class="lost_section">

  <p class="flux" id="lost_found">분실물 센터 바로가기</p>
  
</div>

<% render 'development_introduce' %>