<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>', {
    cluster: '<%= ENV["PUSHER_CLUSTER"] %>',
    encrypted: true
  });
  
  function msg_generate(data) {
      $('#test').append(`
      <div class="test" id="message${data.id}" style="display: none;position:absolute;">
        <div>${data.body}</div>    
      </div>`);
      var item = $(`#message${data.id}`);
      item.css('top',Math.round(Math.random()*700)+300);
      item.css('left',Math.round(Math.random()*500));
      item.fadeIn();
      
      setTimeout(function() {
        item.fadeOut();
      }, 4000);

    }

  var channel = pusher.subscribe('dashboard');
  channel.bind('create', function(data) {
    var msg = data.body;
    console.log(data);
    msg_generate(data);
  });

</script>
<h1 class="head_line">왁자지껄</h1>

<div id='test'></div>